<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Info</title>
    {% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'quote/styles/author_style.css' %}">
    <link rel="stylesheet" href="{% static 'quote/styles/head_style.css' %}">
    {% endblock %}
</head>
<body>
<div class="main-container">
    <header>
        <div class="quotes-to-scrape">
            <h1><a href="{% url 'main_page' %}">Qoutes to scrape</a></h1>
        </div>

        <div class="kyky">
            {% if user.is_authenticated %}
            <p>Welcome back, {{ user.username }}!</p>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <p>You are not authorized</p>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>

    <div class="cont">
        <div><h1> {{ author_name }} </h1></div>
        <div><h3> {{ writer.birthday }} </h3></div>
        <div><h4> Description: </h4></div>
        <p>
            {{ writer.description }}
        </p>
    </div>
</div>
</body>
</html>