<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes to scrape</title>
    {% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'quote/styles/index_style.css' %}">
    <link rel="stylesheet" href="{% static 'quote/styles/head_style.css' %}">
    {% endblock %}
</head>
<body>
<div class="main-container">
    <header>
        <div class="quotes-to-scrape">
            <h1><a href="{% url 'main_page' %}">Qoutes to scrape</a></h1>
            {% if user.is_authenticated %}
            <a class="button" href="{% url 'add_quote' %}"><p>+</p>ADD QUOTE</a>
            {% else %}
            {% endif %}
        </div>

        <div class="kyky">
            {% if user.is_authenticated %}
            <p>Welcome back, {{ user.username }}!</p>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <p>You are not authorized</p>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>

    <h1>
        {% if tag %}
        Quotes with tag: <h1 class="author">{{ tag }}</h1>
        {% else %}

        {% endif %}
    </h1>

    <div class="cont">
        <div class="quotes-row">
            {% for quote in quotes %}
            <div class="quote">
                <p>
                    <i>{{ quote.text }}</i>
                <p class="author">
                    <b>by {{ quote.writer.name }} </b>
                    <a class="about" href="{% url 'author' name=quote.writer.name %}">(about)</a>
                </p>
                <p>Tags: <a class="tag"> {{ quote.tag }} </a></p>
                </p>
            </div>
            {% endfor %}

        </div>
        <div class="tags">
            <h1>Tags</h1>

            <ul class="tag-row">
                {% for tag in all_tags %}
                <li class="tag"><a href="{% url 'main_page' tag=tag.tag_name %}">{{ tag.tag_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>