<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'quote/styles/login_style.css' %}">
    <link rel="stylesheet" href="{% static 'quote/styles/head_style.css' %}">
    {% endblock %}
</head>
<body>
<div class="main-container">
    <header>
        <div class="quotes-to-scrape">
            <h1><a href="{% url 'main_page' %}">Qoutes to scrape</a></h1>
        </div>

        <div class="kyky">
            {% if user.is_authenticated %}
            <p>Welcome back, {{ user.username }}!</p>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <p>You are not authorized</p>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>

    <div class="cont">
        <form class="form" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">

            {% if form.non_field_errors %}
            <div class="error">
                {% for error in form.non_field_errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div>
                <label>Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                <div class="error">
                    {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div>
                <label>Password</label>
                {{ form.password }}
                {% if form.password.errors %}
                <div class="error">
                    {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div>
                <button type="submit">Login</button>
            </div>

            <div>
                <p>Not registered yet?</p>
                <a href="{% url 'register' %}" style="text-decoration:none; color: #577ee7; font-size: 16px;">
                    <i>Sign in</i>
                </a>
            </div>
            <div>
                <p>Forgot password?</p>
                <a href="{% url 'password_reset' %}" style="text-decoration:none; color: #577ee7; font-size: 16px;">
                    <i>Reset</i>
                </a>
            </div>

        </form>
    </div>
</div>
</body>
</html>