<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'quote/styles/login_style.css' %}">
    <link rel="stylesheet" href="{% static 'quote/styles/head_style.css' %}">
    {% endblock %}
</head>
<body>
<div class="main-container">
    <header>
        <div class="quotes-to-scrape">
            <h1><a href="{% url 'main_page' %}">Qoutes to scrape</a></h1>
        </div>

        <div class="kyky">
            {% if user.is_authenticated %}
            <p>Welcome back, {{ user.username }}!</p>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <p>You are not authorized</p>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>

    <div class="cont">
        <form class="form" method="post">
            {% csrf_token %}

            <div>
                <label>Username</label>
                {{ form.username }}
            </div>

            <div>
                <label>E-mail</label>
                {{ form.email }}
            </div>

            <div>
                <label>Password</label>
                {{ form.password1 }}
            </div>

            <div>
                <label>Confirm your password</label>
                {{ form.password2 }}
            </div>

            <div>
                <button type="submit">Register</button>
            </div>

            <div>
                <p>Already have accaunt ?</p>
                <a href="{% url 'login' %}" style="text-decoration:none;
                                               color: #577ee7;
                                               font-size: 16px;">
                    <i>Log in</i>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>