html {
    overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.dev-back {
    background-color: rgba(206, 122, 154, 0.5);
}


body {
    margin: 0;
    padding-right: calc(100vw - 100%); /* Учитываем ширину полосы прокрутки */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    padding: 35px 45px 45px 45px;
    display:flex;
    flex-direction: column;
    width: 1200px;
    min-height: auto;

    border-radius: 0px 0px 10px 10px;
}

header {
    margin-bottom: 65px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quotes-to-scrape h1 a{
    color: #577ee7;
    font-size: 50px;
}
.quotes-to-scrape h1 a:hover {
    color: #3677E8;
    font-size: 50px;
    cursor: pointer;
    text-decoration: none;
}

header a {
    color: #577ee7;
    font-size: 20px;
    text-decoration: none;
}
header a:hover {
    color: #3677E8;
    font-size: 20px;
    text-decoration: underline;
}

.kyky {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.kyky p {
    font-style: italic;
}

.quotes-to-scrape {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: #577ee7;
    color: white;
    font-size: 12px;
    border: 1px solid #577ee7;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;

    transition: background-color 300ms linear, border-color 300ms linear, color 300ms linear;
}
.button:hover {
    background-color: white;
    border: 1px solid #577ee7;
    color: #577ee7;
    font-size: 12px;
    text-decoration: none;
}

.button p {
    font-size: 20px;
}